/**
 * Stad styleguide
 */
@import "../../bower_components/tink-theme-stad/dist/stad/variables";
@import "styleguide/styleguide";



.jumbotron {
  background-image: image-url('main/bg-stad.jpg');

  .btn-lg {
    color: $primary;
  }
}

.md {
  h1 {
    color: $tink-teal;
  }

  h2 {
    color: $tink-lime;
  }

  h3 {
    color: $gray;
  }

  h4 {
    color: $gray-dark;
  }
}