/**
 * Tink styleguide
 */
@import "styleguide/styleguide";

.jumbotron {
  background-image: image-url('main/bg.jpg');
}

.md {
  h1 {
    color: $tink-teal;
  }

  h2 {
    color: $tink-lime;
  }

  h3 {
    color: $gray;
  }

  h4 {
    color: $gray-dark;
  }
}