/**
 * OCMW styleguide
 */
@import "../../bower_components/tink-theme-politie/dist/politie/variables";
@import "styleguide/styleguide";

.jumbotron {
  background-image: image-url('main/bg-politie.jpg');
}

.panel-docs {
  h1:not(.ignore) {
    color: $tink-purple;
  }

  h2:not(.ignore) {
    color: $tink-pink;
  }

  h3:not(.ignore) {
    color: $gray;
  }

  h4:not(.ignore) {
    color: $gray-dark;
  }
}
