/**
 * OCMW styleguide
 */
@import "../../bower_components/tink-theme-ocmw/dist/ocmw/variables";
@import "styleguide/styleguide";

.jumbotron {
  background-image: image-url('main/bg-ocmw.jpg');
}

.md {

  h1 {
    color: $tink-red;
  }

  h2 {
    color: $tink-orange;
  }

  h3 {
    color: $gray;
  }

  h4 {
    color: $gray-dark;
  }
}