/**
 * Tink styleguide
 */
@import "styleguide/styleguide";

.jumbotron {
  background-image: image-url('main/bg.jpg');
}

h1.d {
  color: $tink-teal;
}

h2.d {
  color: $tink-lime;
}

h3.d {
  color: $gray;
}

h4.d {
  color: $gray-dark;
}
