/**
 * OCMW styleguide
 */
@import "../../bower_components/tink-theme-ocmw/dist/ocmw/variables";
@import "styleguide/styleguide";

.jumbotron {
  background-image: image-url('main/bg-ocmw.jpg');
}

h1.d {
  color: $tink-blue;
}

h2.d {
  color: $tink-grass;
}

h3.d {
  color: $gray;
}

h4.d {
  color: $gray-dark;
}
