/**
 * OCMW styleguide
 */
@import "../../bower_components/tink-theme-ocmw/dist/ocmw/variables";
@import "styleguide/styleguide";

.jumbotron {
  background-image: image-url('main/bg-ocmw.jpg');
}

.panel-docs {
  h1:not(.ignore) {
    color: $tink-blue;
  }

  h2:not(.ignore) {
    color: $tink-grass;
  }

  h3:not(.ignore) {
    color: $gray;
  }

  h4:not(.ignore) {
    color: $gray-dark;
  }
}
