/**
 * Stad styleguide
 */
@import "../../bower_components/tink-theme-stad/dist/stad/variables";
@import "styleguide/styleguide";

.jumbotron {
  background-image: image-url('main/bg-stad.jpg');

  .btn-lg {
    color: $primary;
  }
}

.panel-docs {
  h1:not(.ignore) {
    color: $tink-cyan;
  }

  h2:not(.ignore) {
    color: $tink-lime;
  }

  h3:not(.ignore) {
    color: $gray;
  }

  h4:not(.ignore) {
    color: $gray-dark;
  }
}
