<div class="container" data-ng-switch="tabview">

  <section class="panel-docs" data-ng-switch-when="changelog">
  <md data-url="../markdown/tink-smooth-scroll-angular/CHANGELOG.md"></md>
  </section>

  <section class="panel-docs" data-ng-switch-when="example" data-ng-controller="smoothScrollCtrl">

    <h2 id="italiano">Celeste</h2>

    <p>
      <a href="javascript:" data-ng-click="scroll('english');">Scroll down (smoothly) for the English version</a>
    </p>

    <p>Avrai gli occhi di tuo padre
      <br>e la sua malinconia
      <br>il silenzio senza tempo che pervade
      <br>al tramonto la marea
      <br>Arriverai
      <br>con la luna di settembre
      <br>che verserà
      <br>il suo latte dentro me
      <br>e ti amerò
      <br>come accade nelle favole per sempre…</p>

    <p>ti aspetterò
      <br>senza andar via
      <br>come fanno già le rondini nell’aria
      <br>nella terra mia
      <br>che invecchia ma
      <br>sulla scia di un'altra età ballando
      <br>sogna
      <br>mentre la tenera luce dell'est
      <br>all'alba illumina speranze e ginestre
      <br>e il cielo è così… celeste…
      <br>celeste…</p>

    <p>Avrai libri, sandali e secchielli
      <br>luminosi “amarcord”
      <br>saranno neri come i miei i tuoi capelli
      <br>ma in un attimo lo so
      <br>volerai via
      <br>verso l'isola lontana
      <br>di una città
      <br>come ho fatto un giorno anch'io
      <br>amore mio
      <br>perché il sole può scordarsi della luna…</p>

    <p>ti aspetterò
      <br>e prima o poi
      <br>arriverai senza nemmeno far rumore
      <br>ti sentirò
      <br>e resterai
      <br>mentre ormai le foglie cambiano colore
      <br>al mio paese che ancora non sai
      <br>dove l'autunno odora di caldarroste
      <br>e il cielo è così… celeste!</p>

    <p>Come il soffio della vita
      <br>che spalanca anche le imposte
      <br>e a sorridere ti invita
      <br>anche quando non lo vuoi
      <br>questo vento innamorato
      <br>che anche tu respirerai che respirerai…</p>

    <p>e poi avrò il coraggio di aspettarti
      <br>ancora un po’
      <br>e ti prometto che vedrai dalle finestre
      <br>un cielo così… celeste…
      <br>celeste…
      <br>un cielo così celeste…</p>


    <h2 id="english">Blue</h2>

    <p>You will have your father's eyes
      <br>And his melancholy
      <br>The silence without time that pervades
      <br>The tide at sunset</p>

    <p>You will arrive
      <br>With the harvest moon
      <br>That will pour
      <br>Its milk into me
      <br>And I will love you
      <br>As it happens in the fairy tales, for ever…
      <br>I will wait for you
      <br>Without going away
      <br>As the swallows are already doing in the air
      <br>In my country
      <br>That is aging but
      <br>Dreams,
      <br>Dancing on the wake of another age
      <br>While the soft eastern light
      <br>At dawn lights up hopes and brooms
      <br>And the sky is so… blue…
      <br>Blue…</p>

    <p>You will have books, sandals and buckets
      <br>Bright "Amarcord"
      <br>Your hair will be black as are mine
      <br>But I know, in an instant
      <br>You will fly away
      <br>To the distant island
      <br>Of a city
      <br>As I did too one day
      <br>My love
      <br>Because the sun can forget the moon</p>

    <p>I will wait for you
      <br>And sooner or later
      <br>You will arrive without making any noise
      <br>I will hear you
      <br>And you will remain
      <br>Whereas the leaves are changing colour now
      <br>In my country which you do not know yet
      <br>Where autumn smells of roasted chestnuts
      <br>And the sky is so… blue!</p>

    <p>As the breath of life
      <br>That flings open even the shutters
      <br>And invites you to smile
      <br>Even if you do not want
      <br>This loving wind
      <br>That also you will breath, that you will breath… </p>

    <p>And then I will have the courage to wait for you
      <br>A little more.
      <br>And I promise you that you will see from the windows
      <br>As sky so… blue…
      <br>Blue…
      <br>A sky so… blue…</p>

    <p>
      <a href="javascript:void();" data-ng-click="scroll('italiano')">Scroll up (smoothly) for the English version</a>
    </p>

  </section>

  <section class="panel-docs" data-ng-switch-default>
  <md data-url="../markdown/tink-smooth-scroll-angular/README.md" class="md"></md>
  </section>

</div>
