<div class="container">
  <section class="panel-docs">
    <h1>Overview</h1>
    <h2>Introduction</h2>
    <p>Tink's main purpose is to offer a flexible way to develop web applications. To achieve this we build it in a modular way. This means that a minimum of effort is needed to rebuild Tink's components when new technology is introduced in the future.</p>
    <p>In the future we hope to extend Tink to other technologies (ReactJS, Polymer, …), but for now, most components are built using AngularJS, in the form of directives. You can recognize this repositories on our GitHub page by their <code>-angular</code> suffix. Check the left navigation for a complete overview.</p>
    <h2>Basic usage</h2>
    <p>Most of these components require nothing more than to install them via Bower. All their dependencies will be installed automatically with them. The only thing more to do is include all necessary files in your project or let a tool like <a href="https://github.com/taptapship/wiredep" title="taptapship/wiredep" rel="external" target="_blank">wiredep</a> do its magic!</p>
  </section>
</div>
