<div class="container" data-ng-switch="tabview">

  <section class="panel-docs" data-ng-switch-when="changelog">
  <md data-url="../markdown/tink-interactive-table-angular/CHANGELOG.md"></md>
  </section>

  <section class="panel-docs" data-ng-switch-when="example">

    <div class="row">
      <div class="col-xs-12">
        <tink-interactive-table tink-row-click="clicked($element)" tink-empty-message="no records are found o o " tink-name="oke" tink-pagination-key="pag1" data-ng-model="data" data-allow-column-reorder="true" tink-actions="actions" tink-headers="headers" tink-column-reorder="true" tink-change="chan($property,$order,$type)"></tink-interactive-table>

        <tink-pagination tink-pagination-id="pag1" tink-current-page="nums" tink-change="changed" tink-total-items="totalitems" tink-items-per-page="10" tink-items-per-page-values="perpageValue"></tink-pagination>

        <h3>Table code</h3>

        <hljs data-format="html"><tink-interactive-table tink-row-click="clicked($element)" tink-empty-message="no records are found o o " tink-name="oke" tink-pagination-key="pag1" data-ng-model="data" data-allow-column-reorder="true" tink-actions="actions" tink-headers="headers" tink-column-reorder="true" tink-change="chan($property,$order,$type)"></tink-interactive-table></hljs>

        <h3>Pagination code</h3>

        <hljs><tink-pagination tink-pagination-id="pag1" tink-current-page="nums" tink-change="changed" tink-total-items="totalitems" tink-items-per-page="10" tink-items-per-page-values="perpageValue"></tink-pagination></hljs>
      </div>
    </div>

  </section>

  <section class="panel-docs" data-ng-switch-default>
  <md data-url="../markdown/tink-interactive-table-angular/README.md" class="md"></md>
  </section>

</div>
