<div class="container">

  <h1>Callout</h1>
  <hr>

  <section class="panel">
    <header class="panel-heading">
      <i class="fa fa-th-large"></i>
      <span class="panel-title">Standard callout</span>
    </header>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="callout">
            <p><strong>Hi!</strong> I just called for you attention. <a href="#">Link</a></p>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <hljs data-format="html">
            <div class="callout">
              <p><strong>Hi!</strong> I just called for you attention. <a href="#">Link</a></p>
            </div>
          </hljs>
        </div>
      </div>
    </div>
  </section>

  <section class="panel">
    <header class="panel-heading">
      <i class="fa fa-th-large"></i>
      <span class="panel-title">Callout variants</span>
    </header>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="callout-success">
            <p><strong>Well done!</strong> You successfully read this alert message. <a href="#">Link</a></p>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <hljs data-format="html">
            <div class="callout-success">
              <p><strong>Well done!</strong> You successfully read this alert message. <a href="#">Link</a></p>
            </div>
          </hljs>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="callout-warning">
            <p><strong>Warning!</strong> Best check yourself, you're not looking too good. <a href="#">Link</a></p>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <hljs data-format="html">
            <div class="callout-warning">
              <p><strong>Warning!</strong> Best check yourself, you're not looking too good. <a href="#">Link</a></p>
            </div>
          </hljs>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="callout-danger">
            <p><strong>Danger!</strong> All your base are belong to us. <a href="#">Link</a></p>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <hljs data-format="html">
            <div class="callout-danger">
              <p><strong>Danger!</strong> All your base are belong to us. <a href="#">Link</a></p>
            </div>
          </hljs>
        </div>
      </div>

    </div>
  </section>

</div>
