<div class="container" data-ng-switch="tabview">

  <section class="panel-docs" data-ng-switch-when="changelog">
  <md data-url="../markdown/tink-tooltip-angular/CHANGELOG.md"></md>
  </section>

  <section class="panel-docs" data-ng-switch-when="example">

    <h2>Example</h2>
     <div class="row">
      <div class="col-xs-12 col-md-3">
        <button tink-tooltip="Hier komt de tooltip content" tink-tooltip-align="top" >Toon tooltip</button>
      </div>
      <div class="col-xs-12 col-md-9">
        <hljs data-format="html">
          <button tink-tooltip="Hier komt de tooltip content" tink-tooltip-align="top" >Toon tooltip</button>
        </hljs>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-3">
        <button tink-tooltip="Hier komt de tooltip content" tink-tooltip-trigger="click" tink-tooltip-align="top" >Open tooltip</button>
      </div>
      <div class="col-xs-12 col-md-9">
        <hljs data-format="html">
          <button tink-tooltip="Hier komt de tooltip content" tink-tooltip-trigger="click" tink-tooltip-align="top" >Open tooltip</button>
        </hljs>
      </div>
    </div>

    <h2>Tooltip code</h2>
      <div class="row">
        <div class="col-xs-12">
          <p>You can use the <code>tink-popover-align</code> options to position the popover container to your liking.</p>
          <hljs data-format="html">
            <button tink-tooltip="Hier komt content." tink-tooltip-align="bottom">Left tooltip</button>
          </hljs>
          <p>If you want to change the behaviour to click you can use the <code>tink-tooltip-trigger</code> options.</p>
          <hljs data-format="html">
            <button tink-tooltip="hier komt content." tink-tooltip-trigger="click" tink-tooltip-align="bottom">Left tooltip</button>
          </hljs>
          <p>When you want to use a template use the <code>tink-tooltip-template</code></p>

          <hljs data-format="html">
            <button tink-tooltip tink-tooltip-template="views/tooltip-template.html" tink-tooltip-align="bottom">Popover</button>
          </hljs>
      </div>
    </div>
  </section>

  <section class="panel-docs" data-ng-switch-default>
  <md data-url="../markdown/tink-tooltip-angular/README.md" class="md"></md>
  </section>

</div>
