<div class="container">

  <section class="panel-docs">
    <h1>Panels</h1>

    <div class="row margin-top">
      <div class="col-xs-12 col-md-6">
        <section class="panel">
          <header class="panel-heading">
            <span class="panel-title">Basic panel with title</span>
          </header>
          <div class="panel-body">
            Basic panel content
          </div>
          <footer class="panel-footer">
            Panel footer
          </footer>
        </section>
      </div>
      <div class="col-xs-12 col-md-6">
        <hljs data-format="html">
          <section class="panel">
            <header class="panel-heading">
              <span class="panel-title">Basic panel with title</span>
            </header>
            <div class="panel-body">
              Basic panel content
            </div>
            <footer class="panel-footer">
              Panel footer
            </footer>
          </section>
        </hljs>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-6">
        <section class="panel">
          <div class="panel-body">
            Basic panel without panel heading
          </div>
        </section>
      </div>
      <div class="col-xs-12 col-md-6">
        <hljs data-format="html">
          <section class="panel">
            <div class="panel-body">
              Basic panel without panel heading
            </div>
          </section>
        </hljs>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-6">
        <section class="panel">
          <header class="panel-heading">
            <span class="panel-title">Basic panel with multiple tiers</span>
          </header>
          <div class="panel-body">
            1st panel body content
          </div>
          <div class="panel-body">
            2nd panel body content
          </div>
          <div class="panel-body">
            3rd panel body content
          </div>
        </section>
      </div>
      <div class="col-xs-12 col-md-6">
        <hljs data-format="html">
          <section class="panel">
            <header class="panel-heading">
              <span class="panel-title">Basic panel with multiple tiers</span>
            </header>
            <div class="panel-body">
              1st panel body content
            </div>
            <div class="panel-body">
              2nd panel body content
            </div>
            <div class="panel-body">
              3rd panel body content
            </div>
          </section>
        </hljs>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-6">
        <section class="panel">
          <div class="panel-body">
            Panel content
          </div>
          <footer class="panel-footer">
            Panel footer
          </footer>
        </section>
      </div>
      <div class="col-xs-12 col-md-6">
        <hljs data-format="html">
          <section class="panel">
            <div class="panel-body">
              Panel content
            </div>
            <footer class="panel-footer">
              Panel footer
            </footer>
          </section>
        </hljs>
      </div>
    </div>

  </section>

</div>
