<div class="container">

  <section class="panel-docs">
    <h1>Overview</h1>
    <h2>Introduction</h2>
    <p>Tink is heavily inspired on the <a href="http://getbootstrap.com" title="Bootstrap · The world's most popular mobile-first and responsive front-end framework." rel="external" target="_blank">Bootstrap framework</a>. We decided to use a lot of its functionality and to improve it where we thought we could.</p>
    <p>Normally, a minimum of effort is needed to <em>Tinkify</em> your work. Most projects made with Bootstrap can be ported to Tink easily.</p>

    <h2>Industry standards</h2>
    <p>Tink makes use of the <strong>HTML5 doctype</strong>. Include it at the beginning of all your projects.</p>
    <hljs data-format="html">
      &lt;!DOCTYPE html&gt;
      &lt;html lang="en"&gt;
        …
      &lt;/html&gt;
    </hljs>
    <p>To ensure proper rendering and touch zooming, <strong>add the viewport meta tag</strong> to your <code>&lt;head&gt;</code>:</p>
    <hljs data-format="html">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    </hljs>

    <h2>Using the Sass version of Tink</h2>
    <p>If you would inspect the Tink bower package you will also find the complete Sass version of Tink inside. You can use these files to compile Tink yourself or you can use some of the files to just use our variables, functions and mixins:</p>
    <hljs data-format="scss">
@import "../../bower_components/tink-core/dist/tink/variables";
@import "../../bower_components/tink-core/dist/tink/functions";
@import "../../bower_components/tink-core/dist/tink/mixins";</hljs>
  </section>

  <div class="panel-docs">
    <hr>
  </div>

  <section class="panel-docs">
    <h1>Tink Core changelog</h1>
    <md data-url="../markdown/tink-core/CHANGELOG.md"></md>
  </section>

</div>
