<div class="container">

  <section class="panel-docs">
    <h1>Filter bar</h1>
    <div class="row">
      <div class="col-xs-12 margin-bottom">
        <p>This component is especially useful when you need to cram a lot of filtering options in a compact space. Use it in combination with <a href="#/docs/ui/grid">grid classes</a> or our <a href="#/docs/ui/bar">bar component</a>.</p>

        <div class="filter-bar">
          <div class="row">
            <div class="col-xs-12 col-sm-3 col-sm-push-9">
              <input class="filter-bar-item" type="search" id="input-search" placeholder="Zoeken">
            </div>
            <div class="col-xs-12 col-sm-9 col-sm-pull-3">
              <div class="bar">
                <ul class="bar-left">
                  <li>
                    <a class="filter-bar-item" href="javascript:void()" data-tink-popover data-tink-arrow="false" data-tink-popover-group="my-group" data-tink-popover-template="views/filter-bar-popover-template.html">Filter 1: <span>all</span> <i class="fa fa-caret-down"></i></a>
                  </li>
                  <li>
                    <a class="filter-bar-item" href="javascript:void()" data-tink-popover data-tink-arrow="false" data-tink-popover-group="my-group" data-tink-popover-template="views/filter-bar-popover-template.html">Filter 2: <span>all</span> <i class="fa fa-caret-down"></i></a>
                  </li>
                  <li>
                    <a class="filter-bar-item" href="javascript:void()" data-tink-popover data-tink-arrow="false" data-tink-popover-group="my-group" data-tink-popover-template="views/filter-bar-popover-template.html">Filter 3: <span>all</span> <i class="fa fa-caret-down"></i></a>
                  </li>
                  <li>
                    <a class="filter-bar-item-link" href="javascript:void()">Meer filters</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-xs-12">
        <hljs data-format="html">
          <div class="filter-bar">
            <div class="row">
              <div class="col-xs-12 col-sm-3 col-sm-push-9">
                <input class="filter-bar-item" type="search" id="input-search" placeholder="Zoeken">
              </div>
              <div class="col-xs-12 col-sm-9 col-sm-pull-3">
                <div class="bar">
                  <ul class="bar-left">
                    <li>
                      <a class="filter-bar-item" href="javascript:void()" data-tink-popover data-tink-arrow="false" data-tink-popover-group="my-group" data-tink-popover-template="views/filter-bar-popover-template.html">Filter 1: <span>alle</span> <i class="fa fa-caret-down"></i></a>
                    </li>
                    <li>
                      <a class="filter-bar-item" href="javascript:void()" data-tink-popover data-tink-arrow="false" data-tink-popover-group="my-group" data-tink-popover-template="views/filter-bar-popover-template.html">Filter 2: <span>alle</span> <i class="fa fa-caret-down"></i></a>
                    </li>
                    <li>
                      <a class="filter-bar-item" href="javascript:void()" data-tink-popover data-tink-arrow="false" data-tink-popover-group="my-group" data-tink-popover-template="views/filter-bar-popover-template.html">Filter 3: <span>alle</span> <i class="fa fa-caret-down"></i></a>
                    </li>
                    <li>
                      <a class="filter-bar-item-link" href="javascript:void()">Meer filters</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </hljs>
      </div>
    </div>
  </section>

</div>



