<div class="container" ng-controller="tableCtrl">
  <h1>Interactive table</h1>
  <hr>

  <section class="panel">
    <header class="panel-heading">
      <h1 class="panel-title">Interactive table</h1>
    </header>
    <div class="panel-body">
      <p>With this directive you can create a table where the columns can be added or removed and the column sequence can be sorted by preference of the user. The content of the table can be sorted by clicking on the header of the column.</p>

      <div class="row">
        <div class="col-xs-12">
          <h3>Example</h3>
          <hljs data-format="html">
            <tink-interactive-table data-ng-model="data" data-headers="headers" data-actions="actions" data-items-per-page="pages" class="table-interactive"></tink-interactive-table>
          </hljs>

          <tink-interactive-table data-ng-model="data" data-headers="headers" data-actions="actions" data-items-per-page="pages" class="table-interactive"></tink-interactive-table>
        </div>

        <div class="col-xs-12">
          <h3>Usage</h3>
          <p>This is how your controller code might look like.</p>
          <hljs data-format="js">// Data model
            scope.data = [
              {
                firstname: 'Jasper',
                lastname: 'Van Proeyen',
                username: '@trianglejuice'
              },
              {
                firstname: 'Tom',
                lastname: 'Wuyts',
                username: '@pxlpanic'
              },
              {
                firstname: 'Kevin',
                lastname: 'De Mulder',
                username: '@clopin'
              },
              {
                firstname: 'Vincent',
                lastname: 'Bouillart',
                username: '@BouillartV'
              },
              {
                firstname: 'Tom',
                lastname: 'Hermans',
                username: '@tomhermans'
              },
              {
                firstname: 'Lieven',
                lastname: 'Van Gestel',
                username: '@lievenvg'
              }
            ];


            // The headers you want to show and whether they are already visible in the table
            scope.headers = [
              {
                field: 'firstname',
                alias: 'Voornaam',
                checked: true
              },
              {
                field: 'lastname',
                alias: 'Achternaam',
                checked: false
              },
              {
                field: 'username',
                alias: 'Gebruikersnaam',
                checked: true
              }
            ];

            // Some actions that become available when you check one or multiple rows
            scope.actions = [
              {
                name: 'remove',
                callback: function(items) {
                  angular.forEach(items, function(val) {
                    scope.data.splice(scope.data.indexOf(val),1);
                  });
                }
              }
            ];
          </hljs>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <h3>Options</h3>
          <div class="table-responsive">
            <table class="table-dev">
              <thead>
                <tr>
                  <th>Attr</th>
                  <th>Type</th>
                  <th>Default</th>
                  <th>Details</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>data-ng-model</td>
                  <td><code>[Object]</code></td>
                  <td><code>[]</code></td>
                  <td>An array of objects wich will be viewed in the table</td>
                </tr>
                <tr>
                  <td>data-headers</td>
                  <td><code>[Object]</code></td>
                  <td><code>[]</code></td>
                  <td>An array of objects wich will be viewed as headers</td>
                </tr>
                <tr>
                  <td>data-actions</td>
                  <td><code>[Object]</code></td>
                  <td><code>[]</code></td>
                  <td>An array of objects wich will appear when you selected an item.</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
