<div class="container">
  <section class="panel-docs">
    <h1>Overview</h1>
    <h2>Introduction</h2>
    <p>Tink services are substitutable objects that are wired together using dependency injection (DI). You can use services to organize and share code across your app.</p>
    <p>For now, all Tink services are built for Angular. You can recognize this repositories on our GitHub page by their <code>-angular</code> suffix. Check the left navigation for a complete overview.</p>
    <h2>Basic usage</h2>
    <p>Most of these compservicesonents require nothing more than to install them via Bower and inject them as a dependency in your controller. The only thing more to do is include all necessary files in your project or let a tool like <a href="https://github.com/taptapship/wiredep" title="taptapship/wiredep" rel="external" target="_blank">wiredep</a> do its magic!</p>
  </section>
</div>
