<div class="container">
	<h1>JavaScript guidelines</h1>
	<hr>

	<section class="panel">
		<header class="panel-heading">
			<i class="fa fa-th-large"></i>
			<h1 class="panel-title">Overview</h1>
		</header>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-6">'use strict'; must be at every page top</div>
				<div class="col-md-6">
					<hljs data-format="js">
						'use strict';

						//..... your code
					</hljs>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">Use <code>===</code> and <code>!==</code> over <code>==</code> and <code>!=</code></div>
				<div class="col-md-6">
					<hljs data-format="js">
						//Bad
						if(a==b && a!=n){
							//...
						}

						//Good
						if(a===b && a !==b){
							//...
						}
			</hljs>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">Use <code>===</code> and <code>!==</code> over <code>==</code> and <code>!=</code></div>
		<div class="col-md-6">
			<hljs data-format="js">
				//Bad
				if(a==b && a!= n){
					//...
				}

				//Good
				if(a===b && a!==b){
					//...
				}
	</hljs>
</div>
</div>
<div class="row">
	<div class="col-md-6">Use readable code</div>
	<div class="col-md-6">
		<hljs data-format="js">
			//Bad
				if (variable !== '') {
				//....
			}

			//Good
			if (variable) {
				//...
			}

			//Bad
			if (name.length > 0) {
				//....
			}

			//Good
			if (name.length) {
				//...
			}
</hljs>
</div>
</div>
<div class="row">
	<div class="col-md-6">Use braces <code>{ .. }</code></div>
	<div class="col-md-6">
		<hljs data-format="js">
			//Bad
			if (eq)
				return false;

			//Good
			if (eq) {
				return false;
			}
	</hljs>
</div>
</div>
<!-- <div class="row">
	<div class="col-md-6">Use blocks for readable code</div>
	<div class="col-md-6">
		<hljs data-format="js">
			//Bad
function(){return false;}

			//Good
			function() {
				return false;
			}
	</hljs>
</div>
</div> -->
</div>
</section>
<section class="panel">
	<header class="panel-heading">
		<i class="fa fa-th-large"></i>
		<h1 class="panel-title">Objects</h1>
	</header>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-6">Use the literal syntax for object creation.</div>
			<div class="col-md-6">
				<hljs data-format="js">
					// bad
					var item = new Object();

					// good
					var item = {};
				</hljs>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">Multiline object initializers indented 2 spaces</div>
			<div class="col-md-6">
				<hljs data-format="js">
					var names = {
						height: 100,
						top: 50,
						width: 200,
						left: 10
					};
			</hljs>
		</div>
	</div>
</div>
</section>
<section class="panel">
	<header class="panel-heading">
		<i class="fa fa-th-large"></i>
		<h1 class="panel-title">Arrays</h1>
	</header>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-6">Use the literal syntax for array creation.</div>
			<div class="col-md-6">
				<hljs data-format="js">
					// bad
					var items = new Array();

					// good
					var items = [];
				</hljs>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">Single-line array initializers are allowed when they fit on a line.</div>
			<div class="col-md-6">
				<hljs data-format="js">
					var arr = [1, 2, 3];  // No space after [ or before ].
				</hljs>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">Multiline array initializers indented 2 spaces.</div>
			<div class="col-md-6">
				<hljs data-format="js">
					// Array initializer.
					var names = [
						'Vincent',
						'Jasper',
						'Tom'
					];
				</hljs>
			</div>
		</div>
	</div>
</section>
<section class="panel">
	<header class="panel-heading">
		<i class="fa fa-th-large"></i>
		<h1 class="panel-title">Strings</h1>
	</header>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-6">Use single quotes <code>' '</code> for strings.</div>
			<div class="col-md-6">
				<hljs data-format="js">
					//Bad
					var name = "Jasper";

					//Good
					var name = 'Vincent';
				</hljs>
			</div>
		</div>
	</div>
</section>
<section class="panel">
	<header class="panel-heading">
		<i class="fa fa-th-large"></i>
		<h1 class="panel-title">&& and ||</h1>
	</header>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-6">When using <code>if</code> for variable assignment use default opperator ||.</div>
			<div class="col-md-6">
				<hljs data-format="js">
					// bad
					function donation(money){
					var donated;

					if(money){
					donated = money;
				}else{
				donated = 'no money';
			}
		}

		// good
		function donation(money){
		var donated = money || 'no money';
	}
</hljs>
</div>
</div>
<div class="row">
	<div class="col-md-6">Use <code>&&</code> to shortening your code.</div>
	<div class="col-md-6">
		<hljs data-format="js">
			if(vincent === 'cool'){
			if(jasper === 'cooler'){
			//Do someting...
		}
	}

	// good
	if(vincent === 'cool' && jasper === 'cooler'){
	//Do someting
}
</hljs>
</div>
</div>
<div class="row">
	<div class="col-md-6">Do not use <code>||</code> and <code>&&</code> for function calls.</div>
	<div class="col-md-6">
		<hljs data-format="js">
			//Bad
			scope.$$phase || (scope.$root && scope.$root.$$phase) || scope.$digest();
			//Bad
			attr.bsShow && doSometing();
		</hljs>
	</div>
</div>
</div>
</section>
<section class="panel">
	<header class="panel-heading">
		<i class="fa fa-th-large"></i>
		<h1 class="panel-title">Operator ?:</h1>
	</header>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-6">Use <code>return</code> and <code>?:</code> like this.</div>
			<div class="col-md-6">
				<hljs data-format="js">
					// bad
					if (val) {
						return foo();
					} else {
						return bar();
					}

				// good
				return val ? foo() : bar();
		</hljs>
	</div>
</div>
</div>
</section>
<section class="panel">
	<header class="panel-heading">
		<i class="fa fa-th-large"></i>
		<h1 class="panel-title">Properties</h1>
	</header>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-6">Use dot notation when accessing properties without variable.</div>
			<div class="col-md-6">
				<hljs data-format="js">
					var vincent = {
					age: 22,
					profession: 'developer'
				};

				// bad
				var profession = vincent['profession'];

				// good
				var profession = vincent.profession;
			</hljs>
		</div>
	</div>
</div>
</section>
<section class="panel">
	<header class="panel-heading">
		<i class="fa fa-th-large"></i>
		<h1 class="panel-title">Variables</h1>
	</header>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-6">Always use var to declare variables otherwhise you will create global variables !</div>
			<div class="col-md-6">
				<hljs data-format="js">
					//bad
					coolPerson = 'Jasper';

					//good
					var coolPerson = 'Vincent';
				</hljs>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">Use one var declaration per variable.</div>
			<div class="col-md-6">
				<hljs data-format="js">
					//bad
					var lola = 18,
					isBlack = true,
					bar = 'box';

					var lola = 18;
					var isBlack = true;
					var bar = 'box';
				</hljs>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">Each variable has its own line and comment. They should be listed in alphabetical order if possible.</div>
			<div class="col-md-6">
				<hljs data-format="js">
					var bar = 'box'; // The name of the bar
					var isBlack = true; // Is the bar black
					var lola = 18; // the age of lola
				</hljs>
			</div>
		</div>
	</div>
</section>
<section class="panel">
	<header class="panel-heading">
		<i class="fa fa-th-large"></i>
		<h1 class="panel-title">Semicolon</h1>
	</header>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-6">Do not use a semicolon at the end of a if statement.</div>
			<div class="col-md-6">
				<hljs data-format="js">
					//Bad
					if(1===1){
						//your code
						return '';
					};

					//Good
					if(1===1){
						//your code
						return '';
					}
				</hljs>
			</div>
		</div>
	</div>
</section>
<section class="panel">
	<header class="panel-heading">
		<i class="fa fa-th-large"></i>
		<h1 class="panel-title">Comments</h1>
	</header>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-6">Use <code>/** ... */</code> for multiline comments.</div>
			<div class="col-md-6">
				<hljs data-format="js">
					/**
					 * funcName() returns a new element
					 *
					 * @param {paramType} paramName
					 * @return {Type} element
					 */
					 function funcName(paramName) {
					  // ...stuff...
					  return elem;
					}
				</hljs>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">Use <code>//</code> for single line comments. Place single line comments on a newline above the subject of the comment. Put an empty line before the comment.
</div>
			<div class="col-md-6">
				<hljs data-format="js">
					//Good
					function getName() {
					  console.log('getting name');

					  // set the default name to 'john'
					  var name = this.name || 'john';

					  return name;
					}
				</hljs>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">Use <code>// TODO:</code> to annotate solutions to problems</div>
		</div>
		<div class="row">
			<div class="col-md-6">Use <code>// FIXME:</code> to annotate problems</div>
		</div>
	</div>
</section>
</div>
