<div class="container" data-ng-switch="tabview">

  <section class="panel-docs" data-ng-switch-when="changelog">
  <md data-url="../markdown/tink-popover-angular/CHANGELOG.md"></md>
  </section>

  <section class="panel-docs" data-ng-switch-when="example">

    <div class="row">
          <div class="col-xs-12 col-md-3">
            <p><button tink-popover tink-popover-template="views/popover-template.html">popover trigger title</button></p>
          </div>
          <div class="col-xs-12 col-md-9">
            <hljs data-format="html">
              <button tink-popover tink-popover-template="views/popover-template.html">popover trigger title</button>
            </hljs>
          </div>
        </div>

        <hr/>

        <div class="row margin-bottom">
          <div class="col-xs-12 col-md-6">
            <p>
              <button tink-popover tink-popover-place="left" tink-popover-align="bottom" tink-popover-template="views/popover-template.html">Left Popover <small>(aligned to bottom)</small></button>
            </p>
          </div>
          <div class="col-xs-12 col-md-6">
            <p>
              <button tink-popover tink-popover-place="top" tink-popover-align="center" tink-popover-template="views/popover-template.html">Top Popover <small>(aligned to center)</small></button>
            </p>
          </div>
          <div class="col-xs-12 col-md-6">
            <p>
              <button tink-popover tink-popover-place="right" tink-popover-align="top" tink-popover-template="views/popover-template.html">Right Popover <small>(aligned to top)</small></button>
            </p>
          </div>
          <div class="col-xs-12 col-md-6">
            <p>
              <button tink-popover tink-popover-place="bottom" tink-popover-align="left" tink-popover-template="views/popover-template.html">Bottom Popover <small>(aligned to left)</small></button>
            </p>
          </div>
        </div>


        <div class="row">
          <div class="col-xs-12">
            <p>You can use the <code>tink-popover-place</code> and <code>tink-popover-align</code> options to position the popover container to your liking, however screen calculation will be applied to optimize the display of the popover, possibly overruling your set placement. Click one of the above examples and scroll or resize your screen to see this behaviour in action.</p>
            <p>
            <hljs data-format="html">
              <button tink-popover tink-popover-place="left" tink-popover-align="bottom" tink-popover-template="views/popover-template.html">Left Popover</button>
            </hljs>
            </p>
          </div>

        </div>

  </section>

  <section class="panel-docs" data-ng-switch-default>
  <md data-url="../markdown/tink-popover-angular/README.md" class="md"></md>
  </section>

</div>
