<div class="container">
  <section class="panel-docs">
    <h1>Overview</h1>
    <h2>Introduction</h2>
    <p>Tink is by default themeable. You can use one of the themes listed in the side navigation or fork one to start creating your own theme.</p>
    <h2>Usage</h2>
    <p>It's important to know that Tink themes aren't just extensions of the tink core, but rather complete separate builds. As a result it is enough to only require the theme CSS file. However, all components require the tink core, so if you use a tool like <a href="https://github.com/taptapship/wiredep" title="taptapship/wiredep" rel="external" target="_blank">wiredep</a> to manage your dependencies automatically you need to put a small override into your <code>bower.json</code> file:</p>
    <P>
      <hljs>
"overrides": {
  "tink-core": {
    "main": []
  }
}</hljs>
    </P>
    <!-- <h2>Basic usage</h2>
    <p>Most of these components require nothing more than to install them via Bower. All their dependencies will be installed automatically with them. The only thing more to do is include all necessary files in your project or let a tool like <a href="https://github.com/taptapship/wiredep" title="taptapship/wiredep" rel="external" target="_blank">wiredep</a> do its magic!</p> -->
  </section>
</div>
