<div class="container">

  <section class="panel-docs">
    <h1>Timeline</h1>
    <div class="row margin-bottom">
      <div class="col-xs-12">
        <p>If you want to present a clear hierarchical list of events, you can do so using the timeline component.</p>
      </div>
    </div>
    <div class="row margin-bottom">
      <div class="col-xs-12">

        <div class="timeline">
          <div class="timeline-label">2016</div>
          <ul class="timeline-list">
            <li>
              <div class="timeline-date">
                <time datetime="2015-02-14">08/01/2016</time>
              </div>
              <div class="card-heading">
                <h4 class="card-title">Indeed it is</h4>
              </div>
              <div class="card-body">
                Our predictions were right. For now the year is still great!
              </div>
            </li>
            <li>
              <div class="timeline-date">
                <time datetime="2015-02-14">01/01/2016</time>
              </div>
              <div class="card-heading">
                <h4 class="card-title">Some important update</h4>
              </div>
              <div class="card-body">
                We are happy to announce that this year will be a great year for some reason.
              </div>
            </li>
          </ul>
          <div class="timeline-label">2015</div>
          <ul class="timeline-list">
            <li>
              <div class="card-heading">
                <h4 class="card-title">Date is optional</h4>
              </div>
              <div class="card-body">
                Some items just don't need a specific date.
              </div>
            </li>
            <li>
              <div class="card-body">
                And apparently the heading is also optional :-)
              </div>
            </li>
          </ul>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <hljs data-format="html">
          <div class="timeline">
            <div class="timeline-label">2016</div>
            <ul class="timeline-list">
              <li>
                <div class="timeline-date">
                  <time datetime="2015-02-14">08/01/2016</time>
                </div>
                <div class="card-heading">
                  <h4 class="card-title">Indeed it is</h4>
                </div>
                <div class="card-body">
                  Our predictions were right. For now the year is still great!
                </div>
              </li>
              <li>
                <div class="timeline-date">
                  <time datetime="2015-02-14">01/01/2016</time>
                </div>
                <div class="card-heading">
                  <h4 class="card-title">Some important update</h4>
                </div>
                <div class="card-body">
                  We are happy to announce that this year will be a great year for some reason.
                </div>
              </li>
            </ul>
            <div class="timeline-label">2015</div>
            <ul class="timeline-list">
              <li>
                <div class="card-heading">
                  <h4 class="card-title">Date is optional</h4>
                </div>
                <div class="card-body">
                  Some items just don't need a specific date.
                </div>
              </li>
              <li>
                <div class="card-body">
                  And apparently the heading is also optional :-)
                </div>
              </li>
            </ul>
          </div>
        </hljs>
      </div>
    </div>
  </section>

</div>
