<div class="container">

  <section class="panel-docs">
    <h1>Tabs</h1>
    <h2>Normal tabs</h2>
    <div class="row">
      <div class="col-xs-12 margin-bottom">
        <ul class="nav-tabs">
          <li role="presentation" class="active"><a href="">Tabs</a></li>
          <li role="presentation"><a href="">Are</a></li>
          <li role="presentation"><a href="">Cool</a></li>
        </ul>
      </div>
      <div class="col-xs-12">
        <hljs data-format="html">
          <ul class="nav-tabs">
            <li role="presentation" class="active"><a href="">Tabs</a></li>
            <li role="presentation"><a href="">Are</a></li>
            <li role="presentation"><a href="">Cool</a></li>
          </ul>
        </hljs>
      </div>
    </div>
  </section>


  <section class="panel-docs">
    <h2>Large tabs</h2>
    <div class="row">
      <div class="col-xs-12 margin-bottom">
        <ul class="nav-tabs nav-lg">
          <li role="presentation"><a href="">Large</a></li>
          <li role="presentation" class="active"><a href="">Tabs</a></li>
          <li role="presentation"><a href="">Are</a></li>
          <li role="presentation"><a href="">Cool</a></li>
          <li role="presentation"><a href="">Too</a></li>
        </ul>
      </div>
      <div class="col-xs-12">
        <hljs data-format="html">
          <ul class="nav-tabs nav-lg">
          <li role="presentation"><a href="">Large</a></li>
            <li role="presentation" class="active"><a href="">Tabs</a></li>
            <li role="presentation"><a href="">Are</a></li>
            <li role="presentation"><a href="">Cool</a></li>
          <li role="presentation"><a href="">Too</a></li>
          </ul>
        </hljs>
      </div>
    </div>
  </section>

</div>
