<div class="container" data-ng-switch="tabview">

  <section class="panel-docs" data-ng-switch-when="changelog">
  <md data-url="../markdown/tink-datepicker-angular/CHANGELOG.md"></md>
  </section>

  <section class="panel-docs" data-ng-switch-when="example" data-ng-controller="datepickerCtrl">
    <h3>Basic examples</h3>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <data-tink-datepicker data-ng-model="selectedDate1"></data-tink-datepicker>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-8 form-group">
        <hljs data-format="html">
           <data-tink-datepicker data-ng-model="selectedDate1"></data-tink-datepicker>
        </hljs>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <data-tink-datepicker data-min-date="mindate" data-ng-model="selectedDate2"></data-tink-datepicker>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-8 form-group">
        <hljs data-format="html">
           <data-tink-datepicker data-min-date="mindate" data-ng-model="selectedDate2"></data-tink-datepicker>
        </hljs>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <data-tink-datepicker data-max-date="maxdate" data-ng-model="selectedDate3"></data-tink-datepicker>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-8 form-group">
        <hljs data-format="html">
           <data-tink-datepicker data-max-date="maxdate" data-ng-model="selectedDate3"></data-tink-datepicker>
        </hljs>
      </div>
    </div>
    <h3>Validation</h3>
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <form name="dateForm" novalidate>
          <div class="row form-group" data-ng-class="{'has-error':(dateForm.datepick.$dirty || dateForm.submitted) && dateForm.datepick.$invalid,'has-success': (dateForm.datepick.$dirty || dateForm.submitted) && dateForm.datepick.$valid}">
            <div class="col-xs-12">
              <label for="tink-username-example">Date</label>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="validation">
                <data-tink-datepicker required="required" name="datepick" data-max-date='maxdate' data-min-date='mindate' data-ng-model="selectedDate4"></data-tink-datepicker>
              </div>
              <span class="help-block">Kies een datum die na {{minDateStr}} en voor {{maxDateStr}} ligt.</span>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-8">
              <div class="messages" ng-messages="dateForm.datepick.$error" ng-if="(dateForm.datepick.$dirty || dateForm.submitted)" >
                <div class="text-danger" ng-message="date-required">Geef een geldige datum in.</div>
                <div class="text-danger" ng-message="date">Geef een geldige datum formaat in.</div>
                <div class="text-danger" ng-message="date-max">De datum die je koos ligt te ver in de toekomst. Kies een datum die voor {{maxDateStr}} ligt.</div>
                <div class="text-danger" ng-message="date-min">De datum die je koos ligt te ver in het verleden. Kies een datum die na {{minDateStr}} ligt.</div>
              </div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-xs-12">
              <button data-ng-click="signup()" type="button" class="btn-primary">Valideren</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <hljs data-format="html">
          <form name="dateForm" novalidate>
            <div class="row form-group" data-ng-class="{'has-error':(dateForm.datepick.$dirty || dateForm.submitted) && dateForm.datepick.$invalid,'has-success': (dateForm.datepick.$dirty || dateForm.submitted) && dateForm.datepick.$valid}">
              <div class="col-xs-12">
                <label for="tink-username-example">Date</label>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="validation">
                  <data-tink-datepicker required="required" name="datepick" data-max-date="maxdate" data-min-date="mindate"  data-ng-model="selectedDate4"></data-tink-datepicker>
                </div>
                <span class="help-block">Kies een datum kleiner dan {{maxDateStr}} en groter als {{minDateStr}}.</span>
              </div>
              <div class="col-xs-12 col-sm-4 col-sm-offset-2">
                <div class="messages" ng-messages="dateForm.datepick.$error" ng-if="(dateForm.datepick.$dirty || dateForm.submitted)" >
                  <div class="text-danger" ng-message="date-required">Geef een geldige datum in.</div>
                  <div class="text-danger" ng-message="date">Geef een geldige datum formaat in.</div>
                  <div class="text-danger" ng-message="date-max">De datum die je koos ligt te ver in de toekomst. Kies een datum die voor {{maxDateStr}} ligt.</div>
                  <div class="text-danger" ng-message="date-min">De datum die je koos ligt te ver in het verleden. Kies een datum die na {{minDateStr}} ligt.</div>
                </div>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-xs-12">
                <button data-ng-click="signup()" type="button" class="btn-primary">Valideren</button>
              </div>
            </div>
          </form>
        </hljs>
      </div>
    </div>
  </section>

  <section class="panel-docs" data-ng-switch-default>
  <md data-url="../markdown/tink-datepicker-angular/README.md" class="md"></md>
  </section>

</div>
