<div class="container" data-ng-switch="tabview">

  <section class="panel-docs" data-ng-switch-when="changelog">
  <md data-url="../markdown/tink-tooltip-angular/CHANGELOG.md"></md>
  </section>

  <section class="panel-docs" data-ng-switch-when="example">

    <div class="row">
          <div class="col-xs-12 col-md-3">
            <p><button tink-tooltip="" tink-tooltip-align="bottom" tink-tooltip-template="views/tooltip-template.html">Open tooltip</button></p>
          </div>
          <div class="col-xs-12 col-md-9">
            <hljs data-format="html">
              <button tink-tooltip="" tink-tooltip-align="bottom" tink-tooltip-template="views/tooltip-template.html">Open tooltip</button>
            </hljs>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <p>You can use the <code>tink-popover-place</code> and <code>tink-popover-align</code> options to position the popover container to your liking, however screen calculation will be applied to optimize the display of the popover, possibly overruling your set placement. Click one of the above examples and scroll or resize your screen to see this behaviour in action.</p>
            <p>
            <hljs data-format="html">
              <button tink-popover tink-popover-place="left" tink-popover-align="bottom" tink-popover-template="views/popover-template.html">Left Popover</button>
            </hljs>
            </p>
          </div>

        </div>

  </section>

  <section class="panel-docs" data-ng-switch-default>
  <md data-url="../markdown/tink-tooltip-angular/README.md" class="md"></md>
  </section>

</div>
