<div class="container" data-ng-switch="tabview" data-ng-controller="dragandropCtrl">

  <section class="panel-docs" data-ng-switch-when="changelog">
  <md data-url="../markdown/tink-upload-angular/CHANGELOG.md"></md>
  </section>

  <section class="panel-docs" data-ng-switch-when="example">
    <h3>Drag and drop multiple files</h3>
    <div class="row">
      <div class="col-sm-6">
        <div type="file" data-send-options="extraOptions" data-multiple="true" data-allowed-types="valid" edit-mode="true" tink-upload ng-model="files" show-uploaded-files="true">
          Maximum bestandsgrootte: 200MB
        </div>
      </div>
      <div class="col-sm-6">
        <hljs data-format="html">
          <div type="file" data-send-options="extraOptions" data-multiple="true" data-allowed-types="valid" edit-mode="true" tink-upload ng-model="files" show-uploaded-files="true">
            Maximum bestandsgrootte: 200MB
          </div>
        </hljs>
      </div>
    </div>

    <h3>Drag and drop a single file</h3>
    <div class="row">
      <div class="col-sm-6">
        <div type="file" data-send-options="extraOptions" data-multiple="false" data-allowed-types="valid" edit-mode="true" tink-upload ng-model="file" show-uploaded-files="true">
          Maximum bestandsgrootte: 200MB
        </div>
      </div>
      <div class="col-sm-6">
        <hljs data-format="html">
          <div type="file" data-send-options="extraOptions" data-multiple="false" data-allowed-types="valid" edit-mode="true" tink-upload ng-model="file" show-uploaded-files="true">
            Maximum bestandsgrootte: 200MB
          </div>
        </hljs>
      </div>
    </div>
  </section>

  <section class="panel-docs" data-ng-switch-default>
  <md data-url="../markdown/tink-upload-angular/README.md" class="md"></md>
  </section>

</div>
