<div class="container">

  <section class="panel-docs">
    <h1>Color variants</h1>
    <h2>Primary colors</h2>
    <div class="row">
      <div class="col-xs-12 col-md-4 tink-text-white">
        <p class="text-center tink-text-brand">Brand</p>
        <p class="text-center tink-bg-brand">#347ea6</p>
      </div>
      <div class="col-xs-12 col-md-8">
        <hljs data-format="html">
        <p class="text-center tink-text-brand">Brand</p>
        <p class="text-center tink-bg-brand">#347ea6</p>
        </hljs>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4 tink-text-white">
        <p class="text-center tink-text-brand-light">Brand-light</p>
        <p class="text-center tink-bg-brand-light">#5fb1d6</p>
      </div>
      <div class="col-xs-12 col-md-8">
        <hljs data-format="html">
        <p class="text-center tink-text-brand-light">Brand-light</p>
        <p class="text-center tink-bg-brand-light">#5fb1d6</p>
        </hljs>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4 tink-text-white">
        <p class="text-center tink-text-success">Success</p>
        <p class="text-center tink-bg-success">#4a921f</p>
      </div>
      <div class="col-xs-12 col-md-8">
        <hljs data-format="html">
        <p class="text-center tink-text-success">Success</p>
        <p class="text-center tink-bg-success">#4a921f</p>
        </hljs>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4 tink-text-white">
        <p class="text-center tink-text-info">Info</p>
        <p class="text-center tink-bg-info">#76b9f4</p>
      </div>
      <div class="col-xs-12 col-md-8">
        <hljs data-format="html">
        <p class="text-center tink-text-info">Info</p>
        <p class="text-center tink-bg-info">#76b9f4</p>
        </hljs>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4 tink-text-white">
        <p class="text-center tink-text-warning">Warning</p>
        <p class="text-center tink-bg-warning">#ff8d00</p>
      </div>
      <div class="col-xs-12 col-md-8">
        <hljs data-format="html">
        <p class="text-center tink-text-warning">Warning</p>
        <p class="text-center tink-bg-warning">#ff8d00</p>
        </hljs>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4 tink-text-white">
        <p class="text-center tink-text-danger">Danger</p>
        <p class="text-center tink-bg-danger">#e60038</p>
      </div>
      <div class="col-xs-12 col-md-8">
        <hljs data-format="html">
        <p class="text-center tink-text-danger">Danger</p>
        <p class="text-center tink-bg-danger">#e60038</p>
        </hljs>
      </div>
    </div>

  <hr />

    <h2>Secondary colors</h2>

    <div class="row">
      <div class="col-xs-12 col-md-4  tink-text-white">
        <p class="text-center tink-text-blue">Blue</p>
        <p class="text-center tink-bg-blue">#81d4fa</p>
      </div>
      <div class="col-xs-12 col-md-8">
        <hljs data-format="html">
        <p class="text-center tink-text-blue">Blue</p>
        <p class="text-center tink-bg-blue">#81d4fa</p>
        </hljs>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4 tink-text-white">
        <p class="text-center tink-text-brown">Brown</p>
        <p class="text-center tink-bg-brown">#a1887f</p>
      </div>
      <div class="col-xs-12 col-md-8">
        <hljs data-format="html">
        <p class="text-center tink-text-brown">Brown</p>
        <p class="text-center tink-bg-brown">#a1887f</p>
        </hljs>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4 tink-text-white">
        <p class="text-center tink-text-cyan">Cyan</p>
        <p class="text-center tink-bg-cyan">#80deea</p>
      </div>
      <div class="col-xs-12 col-md-8">
        <hljs data-format="html">
        <p class="text-center tink-text-cyan">Cyan</p>
        <p class="text-center tink-bg-cyan">#80deea</p>
        </hljs>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4 tink-text-white">
        <p class="text-center tink-text-grass">Grass</p>
        <p class="text-center tink-bg-grass">#c5e1a5</p>
      </div>
      <div class="col-xs-12 col-md-8">
        <hljs data-format="html">
        <p class="text-center tink-text-grass">Grass</p>
        <p class="text-center tink-bg-grass">#c5e1a5</p>
        </hljs>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4 tink-text-white">
        <p class="text-center tink-text-green">Green</p>
        <p class="text-center tink-bg-green">#a5d6a7</p>
      </div>
      <div class="col-xs-12 col-md-8">
        <hljs data-format="html">
        <p class="text-center tink-text-green">Green</p>
        <p class="text-center tink-bg-green">#a5d6a7</p>
        </hljs>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4 tink-text-white">
        <p class="text-center tink-text-lime">Lime</p>
        <p class="text-center tink-bg-lime">#d4e157</p>
      </div>
      <div class="col-xs-12 col-md-8">
        <hljs data-format="html">
        <p class="text-center tink-text-lime">Lime</p>
        <p class="text-center tink-bg-lime">#d4e157</p>
        </hljs>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4 tink-text-white">
        <p class="text-center tink-text-orange">Orange</p>
        <p class="text-center tink-bg-orange">#ffb74d</p>
      </div>
      <div class="col-xs-12 col-md-8">
        <hljs data-format="html">
        <p class="text-center tink-text-orange">Orange</p>
        <p class="text-center tink-bg-orange">#ffb74d</p>
        </hljs>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4 tink-text-white">
        <p class="text-center tink-text-pink">Pink</p>
        <p class="text-center tink-bg-pink">#f8bbd0</p>
      </div>
      <div class="col-xs-12 col-md-8">
        <hljs data-format="html">
        <p class="text-center tink-text-pink">Pink</p>
        <p class="text-center tink-bg-pink">#f8bbd0</p>
        </hljs>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4 tink-text-white">
        <p class="text-center tink-text-purple">Purple</p>
        <p class="text-center tink-bg-purple">#ce93d8</p>
      </div>
      <div class="col-xs-12 col-md-8">
        <hljs data-format="html">
        <p class="text-center tink-text-purple">Purple</p>
        <p class="text-center tink-bg-purple">#ce93d8</p>
        </hljs>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4 tink-text-white">
        <p class="text-center tink-text-red">Red</p>
        <p class="text-center tink-bg-red">#ff8a65</p>
      </div>
      <div class="col-xs-12 col-md-8">
        <hljs data-format="html">
        <p class="text-center tink-text-red">Red</p>
        <p class="text-center tink-bg-red">#ff8a65</p>
        </hljs>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4 tink-text-white">
        <p class="text-center tink-text-teal">Teal</p>
        <p class="text-center tink-bg-teal">#80cbc4</p>
      </div>
      <div class="col-xs-12 col-md-8">
        <hljs data-format="html">
        <p class="text-center tink-text-teal">Teal</p>
        <p class="text-center tink-bg-teal">#80cbc4</p>
        </hljs>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <p class="text-center tink-text-yellow">Yellow</p>
        <p class="text-center tink-bg-yellow">#fff176</p>
      </div>
      <div class="col-xs-12 col-md-8">
        <hljs data-format="html">
        <p class="text-center tink-text-yellow">Yellow</p>
        <p class="text-center tink-bg-yellow">#fff176</p>
        </hljs>
      </div>
    </div>

  <hr />

    <h2>Grays</h2>

    <div class="row">
      <div class="col-xs-12 col-md-4 tink-text-white">
        <p class="text-center tink-text-black">black</p>
        <p class="text-center tink-bg-black">#000</p>
      </div>
      <div class="col-xs-12 col-md-8">
        <hljs data-format="html">
        <p class="text-center tink-text-black">black</p>
        <p class="text-center tink-bg-black">#000</p>
        </hljs>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4 tink-text-white">
        <p class="text-center tink-text-gray-darker">Gray-darker</p>
        <p class="text-center tink-bg-gray-darker">#141414</p>
      </div>
      <div class="col-xs-12 col-md-8">
        <hljs data-format="html">
        <p class="text-center tink-text-gray-darker">Gray-darker</p>
        <p class="text-center tink-bg-gray-darker">#141414</p>
        </hljs>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4 tink-text-white">
        <p class="text-center tink-text-gray-dark">Gray-dark</p>
        <p class="text-center tink-bg-gray-dark">#333</p>
      </div>
      <div class="col-xs-12 col-md-8">
        <hljs data-format="html">
        <p class="text-center tink-text-gray-dark">Gray-dark</p>
        <p class="text-center tink-bg-gray-dark">#333</p>
        </hljs>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4 tink-text-white">
        <p class="text-center tink-text-gray">Gray</p>
        <p class="text-center tink-bg-gray">#888</p>
      </div>
      <div class="col-xs-12 col-md-8">
        <hljs data-format="html">
        <p class="text-center tink-text-gray">Gray</p>
        <p class="text-center tink-bg-gray">#888</p>
        </hljs>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4 tink-text-white">
        <p class="text-center tink-text-gray-light">Gray-light</p>
        <p class="text-center tink-bg-gray-light">#bbb</p>
      </div>
      <div class="col-xs-12 col-md-8">
        <hljs data-format="html">
        <p class="text-center tink-text-gray-light">Gray-light</p>
        <p class="text-center tink-bg-gray-light">#bbb</p>
        </hljs>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <p class="text-center tink-text-gray-lighter">Gray-lighter</p>
        <p class="text-center tink-bg-gray-lighter">#eaeaea</p>
      </div>
      <div class="col-xs-12 col-md-8">
        <hljs data-format="html">
        <p class="text-center tink-text-gray-lighter">Gray-lighter</p>
        <p class="text-center tink-bg-gray-lighter">#eaeaea</p>
        </hljs>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <p class="text-center tink-text-gray-lightest">Gray-lightest</p>
        <p class="text-center tink-bg-gray-lightest">#f7f7f7</p>
      </div>
      <div class="col-xs-12 col-md-8">
        <hljs data-format="html">
        <p class="text-center tink-text-gray-lightest">Gray-lightest</p>
        <p class="text-center tink-bg-gray-lightest">#f7f7f7</p>
        </hljs>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <p class="text-center tink-text-white">white</p>
        <p class="text-center tink-bg-white">#fff</p>
      </div>
      <div class="col-xs-12 col-md-8">
        <hljs data-format="html">
        <p class="text-center tink-text-white">white</p>
        <p class="text-center tink-bg-white">#fff</p>
        </hljs>
      </div>
    </div>

  </section>

  <hr />

</div>
