<div class="container">

  <section class="panel-docs">
    <h1>Bar</h1>
    <div class="row margin-bottom">
      <div class="col-xs-12">
        <p>The bar component is a more modern alternative to the grid, especially useful when you need to guarantee proper responsive behaviour.</p>
        <p>Basically it permits simple alignment for lists of items. You can choose to put your items in left-aligned, right-aligned or centered lists.</p>
        <div class="callout">
          <p>To guarantee complete compatibility with Internet Explorer 9 <code>.bar-center</code> must come last in your html code.</p>
        </div>
      </div>
    </div>
    <div class="row margin-bottom">
      <div class="col-xs-12">

        <div class="bar">
          <ul class="bar-left">
            <li><div class="checkbox"><input type="checkbox" id="checkbox1" name="checkbox1"><label for="checkbox1">Left</label></div></li>
            <li><a class="btn btn-xs">Items</a></li>
            <li><div class="label">Go</div></li>
            <li>Here</li>
          </ul>
          <ul class="bar-right">
            <li><div class="checkbox"><input type="checkbox" id="checkbox2" name="checkbox2"><label for="checkbox2">Right</label></div></li>
            <li><a class="btn btn-xs">Items</a></li>
            <li><div class="label">Go</div></li>
            <li>Here</li>
          </ul>
          <ul class="bar-center">
            <li><div class="checkbox"><input type="checkbox" id="checkbox3" name="checkbox3"><label for="checkbox3">Center</label></div></li>
            <li><a class="btn btn-xs">Items</a></li>
            <li><div class="label">Go</div></li>
            <li>Here</li>
          </ul>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <hljs data-format="html">
          <div class="bar">
            <ul class="bar-left">
              <li><div class="checkbox"><input type="checkbox" id="checkbox1" name="checkbox1" value="" checked=""><label for="checkbox1">Left</label></div></li>
              <li><a class="btn btn-xs">Items</a></li>
              <li><div class="label">Go</div></li>
              <li>Here</li>
            </ul>
            <ul class="bar-right">
              <li><div class="checkbox"><input type="checkbox" id="checkbox2" name="checkbox2" value="" checked=""><label for="checkbox2">Right</label></div></li>
              <li><a class="btn btn-xs">Items</a></li>
              <li><div class="label">Go</div></li>
              <li>Here</li>
            </ul>
            <ul class="bar-center">
              <li><div class="checkbox"><input type="checkbox" id="checkbox3" name="checkbox3" value="" checked=""><label for="checkbox3">Center</label></div></li>
              <li><a class="btn btn-xs">Items</a></li>
              <li><div class="label">Go</div></li>
              <li>Here</li>
            </ul>
          </div>
        </hljs>
      </div>
    </div>
  </section>

</div>





<!-- <div class="container">

  <h1>Bar</h1>
  <hr>
  <section class="panel">
    <header class="panel-heading">
      <h1 class="panel-title">Bar</h1>
    </header>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <nav class="bar">
            <section class="bar-top-section">
              <ul class="bar-section-left">
                <li>
                  <button><i class="fa fa-group"></i> </button>
                  <button><i class="fa fa-calendar"></i> </button>
                  <button><i class="fa fa-envelope-o"></i> </button>
                </li>
              </ul>

              <div class="bar-section-center">
                <input type="search" class="input-search" placeholder="Zoeken" />
              </div>

              <ul class="bar-section-right">
                <li class="active">
                  <a class="btn btn-sm btn-primary" href="#">Menu R1</a>
                </li>
                <li>
                  <a class="btn btn-sm" href="#">Menu R2</a>
                </li>
              </ul>
            </section>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <p>The bar is a responsive component that is able to serve a variety of navigation elements, links, buttons, search boxes and whiskey. Ok, maybe not whiskey.</p>
          <p>Transparent by default, but more variations may be provided in a later release.</p>
          <p>The bar itself is divided into three sections, <code>bar-section-left</code>, <code>bar-section-center</code> and <code>bar-section-right</code>, which align left, center and right. Because that made the most sense.</p>
          <p>These sections can be used all at once, but don't specifically need to.</p>
          <p><code>.nav-top</code> is a derivative of this <code>.bar</code> component.</p>
        </div>
        <div class="col-xs-12 col-md-6">
<hljs data-format="html">
<nav class="bar">
  <section class="bar-top-section">
    <ul class="bar-section-left">
      <li>
        <button><i class="fa fa-group"></i> </button>
        <button><i class="fa fa-calendar"></i> </button>
        <button><i class="fa fa-envelope-o"></i> </button>
      </li>
    </ul>

    <div class="bar-section-center">
      <input type="search" class="input-search" placeholder="Zoeken" />
    </div>

    <ul class="bar-section-right">
      <li class="active">
        <a class="btn btn-sm btn-primary" href="#">Menu R1</a>
      </li>
      <li>
        <a class="btn btn-sm" href="#">Menu R2</a>
      </li>
    </ul>
  </section>
</nav>
</hljs>
        </div>
      </div>
    </div>
  </section> -->
