<div class="container" data-ng-switch="tabview">

  <section class="panel-docs" data-ng-switch-when="changelog">
  <md data-url="../markdown/tink-back-to-top-angular/CHANGELOG.md"></md>
  </section>

  <section class="panel-docs" data-ng-switch-when="example">


        <div class="row">
          <div class="col-xs-12">
            <p>The back to top button is useful on long pages to go quickly go back to the top of the page. It will only appear after a predetermined offset value has been met. Scroll to the bottom of this page to see an example.</p>
            <hljs data-format="html">
              <button tink-back-to-top="" data-offset="300"></button>
            </hljs>
          </div>
          <div class="col-xs-12 margin-top">
            <h4>"To The Top" by Twin Shadow</h4>
            <p>Oh I know its not the right time tonight<br />
            But I won’t move until this stops<br />
            We go back to the top<br />
            Oh oh<br />
            Back to the top!</p>
            <p>You will never belong to me<br />
            Now I can see the light – that you are<br />
            Never good at controlling me<br />
            Now I can see the light shine oh<br />
            And I know<br />
            And I know<br />
            It was blinding you</p>
            <p>Say life can be long<br />
            Wanna know<br />
            Wanna know<br />
            Wanna know<br />
            Wanna know<br />
            It's truev<br />
            When you say<br />
            You gotta make me believe you</p>
            <p>Oh I know its not the right time tonight<br />
            But I won’t move until this stops<br />
            We go back to the top
            Oh oh<br />
            Back to the top!</p>
            <p>I’m not scared if you run to me<br />
            Lost like when you were mine<br />
            And you can take what you want from me<br />
            Just offer me your time</p>
            <p>Stay, life can be long<br />
            Wanna know<br />
            Wanna know<br />
            Wanna know<br />
            Wanna know<br />
            It’s true<br />
            When you say<br />
            I want you around<br />
            You gotta make me believe you</p>
            <p>Oh I know it’s not the right time tonight<br />
            But I won’t move until this stops<br />
            We go back to the top<br />
            Oh oh<br />
            Back to the top!</p>
            <p>Oh I know it’s not the right time tonight<br />
            But I won’t move until this stops<br />
            We go back to the top<br />
            Oh oh<br />
            Back to the top!</p>
            <p>Oh I know it’s not the right time tonight<br />
            But I won’t move until this stops<br />
            We go back to the top<br />
            Oh oh<br />
            Back to the top!</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h3>Options</h3>
            <div class="table-responsive">
              <table class="table-dev">
                <thead>
                  <tr>
                    <th>Attr</th>
                    <th>Type</th>
                    <th>Default</th>
                    <th>Details</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>data-offset</td>
                    <td><code>Number</code></td>
                    <td><code>300</code></td>
                    <td>The height in pixels, measured from the top, when the button will be visible.</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

    <button tink-back-to-top="" data-offset="300"></button>
  </section>

  <section class="panel-docs" data-ng-switch-default>
  <md data-url="../markdown/tink-back-to-top-angular/README.md" class="md"></md>
  </section>

</div>
