<div class="container" data-ng-switch="tabview">

  <section class="panel-docs" data-ng-switch-when="changelog">
  <md data-url="../markdown/tink-modal-angular/CHANGELOG.md"></md>
  </section>

  <section class="panel-docs" data-ng-switch-when="example" data-ng-controller="modalCtrl">

    <h2>Modal with external template</h2>
    <div class="row margin-top">
      <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <p>
          <button data-ng-click="openModal()">How does the internet work?</button>
        </p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-8 form-group">
        <hljs data-format="html">
           <button data-ng-click="openModal()">How does the internet work?</button>
        </hljs>
      </div>
    </div>

    <h2>Modal without external template</h2>
    <div class="row margin-top">
      <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <p>
          <button tink-modal data-tink-modal-success="lose" data-tink-modal-dismiss="ismissed" data-tink-modal-template="modalcontentid">Open modal</button>
          <script type="text/ng-template" id="modalcontentid">
            <h3>Modal title</h3>
            <p>Modal text</p>
            <button data-ng-click="$dismiss('close')">Dismiss</button>
            <button data-ng-click="$close('close')">Close</button>
          </script>
        </p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-8 form-group">
        <hljs data-format="html">
          <button tink-modal data-tink-modal-template="modalcontentid" data-tink-modal-success="close" data-tink-modal-dismiss="dismissed">Open modal</button>
        </hljs>
      </div>
    </div>

  </section>

  <section class="panel-docs" data-ng-switch-default>
  <md data-url="../markdown/tink-modal-angular/README.md" class="md"></md>
  </section>

</div>
