<div class="container">

  <section class="panel-docs">
    <h1>Loader</h1>

    <h2>Basic loader</h2>

    <div class="row margin-bottom">
      <p class="col-xs-12 col-md-3">
        <span class="loader">Your loading message here</span>
      </p>
      <div class="col-xs-12 col-md-9">
        <hljs data-format="html">
          <span class="loader">Your loading message here</span>
        </hljs>
      </div>
    </div>

    <h2>Big loader</h2>

    <div class="row margin-bottom">
      <p class="col-xs-12 col-md-3">
        <span class="loader loader-lg">Your loading message here</span>
      </p>
      <div class="col-xs-12 col-md-9">
        <hljs data-format="html">
          <span class="loader loader-lg">Your loading message here</span>
        </hljs>
      </div>
    </div>

    <h2>Loader in buttons</h2>

    <div class="row">
      <p class="col-xs-12 col-md-3">
        <button class="btn-sm">Loading <div class="loader"></div></button>
      </p>
      <div class="col-xs-12 col-md-9">
        <hljs data-format="html">
          <button class="btn-sm">Loading <span class="loader"></span></button>
        </hljs>
      </div>
    </div>

    <div class="row">
      <p class="col-xs-12 col-md-3">
        <button>Loading <div class="loader"></div></button>
      </p>
      <div class="col-xs-12 col-md-9">
        <hljs data-format="html">
          <button>Loading <span class="loader"></span></button>
        </hljs>
      </div>
    </div>

    <div class="row">
      <p class="col-xs-12 col-md-3">
        <button class="btn-lg">Loading <div class="loader"></div></button>
      </p>
      <div class="col-xs-12 col-md-9">
        <hljs data-format="html">
          <button class="btn-lg">Loading <span class="loader"></span></button>
        </hljs>
      </div>
    </div>

  </section>

</div>
