<div class="container">

  <section class="panel-docs">
    <h1>Media</h1>

    <h2>Images</h2>

    <h3>Responsive images</h3>

    <p>Images can be made responsive-friendly via the addition of the <code>.img-responsive</code> class. This makes sure the image scales nicely to the parent element.</p>
    <hljs data-format="html">
      <img src="images/helpers/image-placeholder.svg" alt="Placeholder" class="img-responsive" />
    </hljs>
    <p>To center images which use the <code>.img-responsive</code> class, use <code>.center-block</code> instead of <code>.text-center</code>.</p>

    <h3>Image styles</h3>

    <div class="row">
      <p class="col-xs-3 col-sm-3 col-md-2">
        <img src="images/helpers/image-placeholder.svg" alt="Placeholder" />
      </p>
      <div class="col-xs-9 col-sm-9 col-md-10">
        <hljs data-format="html">
          <img src="images/helpers/image-placeholder.svg" alt="Placeholder" />
        </hljs>
      </div>
    </div>


    <!-- Styling -->

    <div class="row">
      <p class="col-xs-3 col-sm-3 col-md-2">
        <img class="img-rounded" src="images/helpers/image-placeholder.svg" alt="Placeholder" />
      </p>
      <div class="col-xs-9 col-sm-9 col-md-10">
        <hljs data-format="html">
          <img class="img-rounded" src="images/helpers/image-placeholder.svg" alt="Placeholder" />
        </hljs>
      </div>
    </div>

    <div class="row">
      <p class="col-xs-3 col-sm-3 col-md-2">
        <img class="img-circle" alt="Circular Image" src="images/helpers/image-placeholder.svg" />
      </p>
      <div class="col-xs-9 col-sm-9 col-md-10">
        <hljs data-format="html">
          <img class="img-circle" alt="Circular Image" src="images/helpers/image-placeholder.svg" />
        </hljs>
      </div>
    </div>

    <div class="row">
      <p class="col-xs-3 col-sm-3 col-md-2">
        <img class="img-thumbnail" src="images/helpers/image-placeholder.svg" alt="Placeholder" />
      </p>
      <div class="col-xs-9 col-sm-9 col-md-10">
        <hljs data-format="html">
          <img class="img-thumbnail" src="images/helpers/image-placeholder.svg" alt="Placeholder" />
        </hljs>
      </div>
    </div>


    <!-- Helpers -->

    <h3>Image style helpers</h3>

    <p>Set an image left, right or centered in its parent container.</p>

    <div class="row">
      <p class="col-xs-12 col-md-6">
        <img class="pull-left" src="images/helpers/image-placeholder.svg" alt="Placeholder" width="100" height="100">
      </p>
      <div class="col-xs-12 col-md-6">
        <hljs data-format="html">
<img class="pull-left" src="images/helpers/image-placeholder.svg" alt="Placeholder" width="100" height="100"></hljdiv>
      </div>
    </div>

    <div class="row">
      <p class="col-xs-12 col-md-6">
        <img class="center-block" src="images/helpers/image-placeholder.svg" alt="Placeholder" width="100" height="100">
      </p>
      <div class="col-xs-12 col-md-6">
        <hljs data-format="html">
<img class="center-block" src="images/helpers/image-placeholder.svg" alt="Placeholder" width="100" height="100"></hljdiv>
      </div>
    </div>

    <div class="row">
      <p class="col-xs-12 col-md-6">
        <img class="pull-right" src="images/helpers/image-placeholder.svg" alt="Placeholder" width="100" height="100">
      </p>
      <div class="col-xs-12 col-md-6">
        <hljs data-format="html">
<img class="pull-right" src="images/helpers/image-placeholder.svg" alt="Placeholder" width="100" height="100"></hljdiv>
      </div>
    </div>

  </section>



  <!-- Media object -->

  <section class="panel-docs">
    <h3>Media Object</h3>

    <p class="lead">Abstract object styles for building various types of components (like blog comments, Tweets, etc) that feature a left- or right-aligned image alongside textual content.</p>

    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="media">
          <div class="pull-left">
            <img class="media-object" src="images/helpers/image-placeholder.svg" alt="Placeholder" width="64" height="64">
          </div>
          <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras hendrerit diam ut auctor pellentesque. Cras quis interdum neque.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <hljs data-format="html">
          <div class="media">
            <div class="pull-left">
              <img class="media-object" src="images/helpers/image-placeholder.svg" alt="Placeholder" width="64" height="64">
            </div>
            <div class="media-body">
              <h4 class="media-heading">Media heading</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras hendrerit diam ut auctor pellentesque. Cras quis interdum neque.</p>
            </div>
          </div>
        </hljs>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="media">
          <div class="pull-left">
            <img class="media-object" src="images/helpers/image-placeholder.svg" alt="Placeholder" width="64" height="64">
          </div>
          <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras hendrerit diam ut auctor pellentesque. Cras quis interdum neque.</p>
            <div class="media">
              <div class="pull-left">
                <img class="media-object" src="images/helpers/image-placeholder.svg" alt="Placeholder" width="64" height="64">
              </div>
              <div class="media-body">
                <h4 class="media-heading">Nested media heading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras hendrerit diam ut auctor pellentesque. Cras quis interdum neque.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <hljs data-format="html">
          <div class="media">
            <div class="pull-left">
              <img class="media-object" src="images/helpers/image-placeholder.svg" alt="Placeholder" width="64" height="64">
            </div>
            <div class="media-body">
              <h4 class="media-heading">Media heading</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras hendrerit diam ut auctor pellentesque. Cras quis interdum neque.</p>
              <div class="media">
                <div class="pull-left">
                  <img class="media-object" src="images/helpers/image-placeholder.svg" alt="Placeholder" width="64" height="64">
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Nested media heading</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras hendrerit diam ut auctor pellentesque. Cras quis interdum neque.</p>
                </div>
              </div>
            </div>
          </div>
        </hljs>
      </div>
    </div>

  </section>


  <!-- Responsive video -->
  <section class="panel-docs">
    <h2>Responsive wrapper</h2>

    <div class="row">
      <div class="col-xs-12 col-md-6">
        <p class="lead">A responsive wrapper for video or other content so it behaves fluid and responsive towards various viewport sizes. Resize your browser to see it in action.</p>
        <div class="responsive-wrapper">
          <iframe allowfullscreen="" frameborder="0" src="//www.youtube.com/embed/0uaquGZKx_0" width="853" height="480"></iframe>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <!-- Highlight JS doesn't work with <iframe>. the code is shown, but the other iframe dissapears. -->
        <hljs data-format="html">
          <div class="responsive-wrapper">
            &lt;iframe allowfullscreen="" frameborder="0" src="//www.youtube.com/embed/mHyRCeKxhss" width="853" height="480"&gt;&lt;/iframe&gt;
          </div>
        </hljs>
      </div>
    </div>

  </section>

</div>
