<div class="container">

  <section class="panel-docs">
    <h1>Buttons</h1>

    <div class="callout">
      <p>If you want to style an anchor <code>&lt;a&gt;</code> like a button, just make sure you always add <code>.btn</code> to its class list.</p>
    </div>

    <h2>Regular buttons</h2>

    <div class="row margin-top">
      <p class="col-xs-12 col-md-3">
        <button type="button">Default</button>
      </p>
      <div class="col-xs-12 col-md-9">
        <hljs data-format="html">
          <button type="button">Default</button>
          or
          <a href="#" class="btn">Default</a>
        </hljs>
      </div>
    </div>

    <div class="row">
      <p class="col-xs-12 col-md-3">
        <button type="button" class="btn-primary">Primary</button>
      </p>
      <div class="col-xs-12 col-md-9">
        <hljs data-format="html">
          <button type="button" class="btn-primary">Primary</button>
          or
          <button type="submit">Primary</button>
        </hljs>
      </div>
    </div>

    <div class="row">
      <p class="col-xs-12 col-md-3">
        <button type="button" class="btn-success">Success</button>
      </p>
      <div class="col-xs-12 col-md-9">
        <hljs data-format="html">
          <button type="button" class="btn-success">Success</button>
        </hljs>
      </div>
    </div>

    <div class="row">
      <p class="col-xs-12 col-md-3">
        <button type="button" class="btn-info">Info</button>
      </p>
      <div class="col-xs-12 col-md-9">
        <hljs data-format="html">
          <button type="button" class="btn-info">Info</button>
        </hljs>
      </div>
    </div>

    <div class="row">
      <p class="col-xs-12 col-md-3">
        <button type="button" class="btn-warning">Warning</button>
      </p>
      <div class="col-xs-12 col-md-9">
        <hljs data-format="html">
          <button type="button" class="btn-warning">Warning</button>
        </hljs>
      </div>
    </div>

    <div class="row">
      <p class="col-xs-12 col-md-3">
        <button type="button" class="btn-danger">Danger</button>
      </p>
      <div class="col-xs-12 col-md-9">
        <hljs data-format="html">
          <button type="button" class="btn-danger">Danger</button>
        </hljs>
      </div>
    </div>

  </section>


  <section class="panel-docs">
    <h2>Disabled buttons</h2>
    <div class="row margin-top">
      <p class="col-xs-12 col-md-3">
        <button type="button" class="btn-default" disabled>Disabled default</button>
      </p>
      <div class="col-xs-12 col-md-9">
        <hljs data-format="html">
          <button type="button" class="btn-default" disabled>Disabled default</button>
        </hljs>
      </div>
    </div>

    <div class="row">
      <p class="col-xs-12 col-md-3">
        <button type="button" class="btn-primary" disabled>Disabled primary</button>
      </p>
      <div class="col-xs-12 col-md-9">
        <hljs data-format="html">
          <button type="button" class="btn-primary" disabled>Disabled primary</button>
        </hljs>
      </div>
    </div>

    <div class="row">
      <p class="col-xs-12 col-md-3">
        <button type="button" class="btn-success" disabled>Disabled success</button>
      </p>
      <div class="col-xs-12 col-md-9">
        <hljs data-format="html">
          <button type="button" class="btn-success" disabled>Disabled success</button>
        </hljs>
      </div>
    </div>

    <div class="row">
      <p class="col-xs-12 col-md-3">
        <button type="button" class="btn-info" disabled>Disabled info</button>
      </p>
      <div class="col-xs-12 col-md-9">
        <hljs data-format="html">
          <button type="button" class="btn-info" disabled>Disabled info</button>
        </hljs>
      </div>
    </div>

    <div class="row">
      <p class="col-xs-12 col-md-3">
        <button type="button" class="btn-warning" disabled>Disabled warning</button>
      </p>
      <div class="col-xs-12 col-md-9">
        <hljs data-format="html">
          <button type="button" class="btn-warning" disabled>Disabled warning</button>
        </hljs>
      </div>
    </div>

    <div class="row">
      <p class="col-xs-12 col-md-3">
        <button type="button" class="btn-danger" disabled>Disabled danger</button>
      </p>
      <div class="col-xs-12 col-md-9">
        <hljs data-format="html">
          <button type="button" class="btn-danger" disabled>Disabled danger</button>
        </hljs>
      </div>
    </div>

	</section>


  <section class="panel-docs">
    <h2>Button sizes</h2>
    <div class="row margin-top">
      <p class="col-xs-12 col-md-3">
        <button type="button" class="btn-lg">Large button</button>
      </p>
      <div class="col-xs-12 col-md-9">
        <hljs data-format="html">
          <button type="button" class="btn-lg">Large button</button>
        </hljs>
      </div>
    </div>

    <div class="row">
      <p class="col-xs-12 col-md-3">
        <button type="button" class="btn-sm">Small button</button>
      </p>
      <div class="col-xs-12 col-md-9">
        <hljs data-format="html">
          <button type="button" class="btn-sm">Small button</button>
        </hljs>
      </div>
    </div>

    <div class="row">
      <p class="col-xs-12 col-md-3">
        <button type="button" class="btn-xs">Extra small button</button>
      </p>
      <div class="col-xs-12 col-md-9">
        <hljs data-format="html">
          <button type="button" class="btn-xs">Extra small button</button>
        </hljs>
      </div>
    </div>

  </section>


  <section class="panel-docs">
    <h2>Button group</h2>
    <div class="row margin-top">
      <div class="col-xs-12 col-lg-4">
        <div class="btn-group margin-bottom">
          <button type="button" class="btn">Left</button>
          <button type="button" class="btn">Middle</button>
          <button type="button" class="btn">Right</button>
        </div>
      </div>
      <div class="col-xs-12 col-lg-8">
        <hljs data-format="html">
          <div class="btn-group">
            <button type="button" class="btn">Left</button>
            <button type="button" class="btn">Middle</button>
            <button type="button" class="btn">Right</button>
          </div>
        </hljs>
      </div>
    </div>

    <div class="row margin-top">
      <div class="col-xs-12 col-lg-4">
        <div class="btn-group btn-group-lg margin-bottom">
          <button type="button" class="btn">Left</button>
          <button type="button" class="btn">Middle</button>
          <button type="button" class="btn">Right</button>
        </div>
      </div>
      <div class="col-xs-12 col-lg-8">
        <hljs data-format="html">
          <div class="btn-group btn-group-lg">
            <button type="button" class="btn">Left</button>
            <button type="button" class="btn">Middle</button>
            <button type="button" class="btn">Right</button>
          </div>
        </hljs>
      </div>
    </div>

    <div class="row margin-top">
      <div class="col-xs-12 col-lg-4">
        <div class="btn-group btn-group-sm margin-bottom">
          <button type="button" class="btn">Left</button>
          <button type="button" class="btn">Middle</button>
          <button type="button" class="btn">Right</button>
        </div>
      </div>
      <div class="col-xs-12 col-lg-8">
        <hljs data-format="html">
          <div class="btn-group btn-group-sm">
            <button type="button" class="btn">Left</button>
            <button type="button" class="btn">Middle</button>
            <button type="button" class="btn">Right</button>
          </div>
        </hljs>
      </div>
    </div>

    <div class="row margin-top">
      <div class="col-xs-12 col-lg-4">
        <div class="btn-group btn-group-xs margin-bottom">
          <button type="button" class="btn">Left</button>
          <button type="button" class="btn">Middle</button>
          <button type="button" class="btn">Right</button>
        </div>
      </div>
      <div class="col-xs-12 col-lg-8">
        <hljs data-format="html">
          <div class="btn-group btn-group-xs">
            <button type="button" class="btn">Left</button>
            <button type="button" class="btn">Middle</button>
            <button type="button" class="btn">Right</button>
          </div>
        </hljs>
      </div>
    </div>

  </section>


  <section class="panel-docs">
    <h2>Transparent buttons</h2>
    <div class="row margin-top">
      <div class="col-xs-12 col-md-3 btn-bg-block">
        <p class="tink-bg-gray-lighter">
          <button type="button" class="btn-transparent">Button on light bg</button>
        </p>
      </div>
      <div class="col-xs-12 col-md-9">
        <hljs data-format="html">
          <button type="button" class="btn-transparent">Button on light bg</button>
        </hljs>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-3 btn-bg-block">
        <p class="tink-bg-gray-dark">
          <button type="button" class="btn-transparent-invert">Button on dark bg</button>
        </p>
      </div>
      <div class="col-xs-12 col-md-9">
        <hljs data-format="html">
          <button type="button" class="btn-transparent-invert">Button on dark bg</button>
        </hljs>
      </div>
    </div>

    <div class="callout">
      <p>Note that the initial background colors above are only for showing of the transparent buttons' behaviour.</p>
    </div>

  </section>


  <section class="panel-docs">
    <h2>Block buttons</h2>
    <div class="row margin-top">
      <p class="col-xs-12 col-md-3">
        <button type="button" class="btn-default btn-block">Default</button>
      </p>
      <div class="col-xs-12 col-md-9">
        <hljs data-format="html">
          <button type="button" class="btn-default btn-block">Default</button>
        </hljs>
      </div>
    </div>

    <div class="row">
      <p class="col-xs-12 col-md-3">
        <button type="button" class="btn-primary btn-block">Primary</button>
      </p>
      <div class="col-xs-12 col-md-9">
        <hljs data-format="html">
          <button type="button" class="btn-primary btn-block">Primary</button>
        </hljs>
      </div>
    </div>

    <div class="row">
      <p class="col-xs-12 col-md-3">
        <button type="button" class="btn-success btn-block">Success</button>
      </p>
      <div class="col-xs-12 col-md-9">
        <hljs data-format="html">
          <button type="button" class="btn-success btn-block">Success</button>
        </hljs>
      </div>
    </div>

    <div class="row">
      <p class="col-xs-12 col-md-3">
        <button type="button" class="btn-info btn-block">Info</button>
      </p>
      <div class="col-xs-12 col-md-9">
        <hljs data-format="html">
          <button type="button" class="btn-info btn-block">Info</button>
        </hljs>
      </div>
    </div>

    <div class="row">
      <p class="col-xs-12 col-md-3">
        <button type="button" class="btn-warning btn-block">Warning</button>
      </p>
      <div class="col-xs-12 col-md-9">
        <hljs data-format="html">
          <button type="button" class="btn-warning btn-block">Warning</button>
        </hljs>
      </div>
    </div>

    <div class="row">
      <p class="col-xs-12 col-md-3">
        <button type="button" class="btn-danger btn-block">Danger</button>
      </p>
      <div class="col-xs-12 col-md-9">
        <hljs data-format="html">
          <button type="button" class="btn-danger btn-block">Danger</button>
        </hljs>
      </div>
    </div>

    <div class="row">
      <p class="col-xs-12 col-md-3">
        <button type="button" class="btn-danger btn-block">Danger</button>
      </p>
      <div class="col-xs-12 col-md-9">
        <hljs data-format="html">
          <button type="button" class="btn-danger btn-block">Danger</button>
        </hljs>
      </div>
    </div>

  </section>

</div>
