<aside>
  <div class="nav-aside-section">
    <ul>
      <li>
        <a href="#/start"><span data-i18n="Getting started">Getting started</span></a>
      </li>
      <li>
        <a href="#/faq"><span data-i18n="F.A.Q.">F.A.Q.</span></a>
      </li>
    </ul>
  </div>

  <div class="nav-aside-section">
    <p class="nav-aside-title">Documentation</p>
    <ul>
      <li>
        <a href="#/docs/ui"><span data-i18n="Styling kit">Styling kit</span></a>
        <ul>
          <li><a href="#/docs/ui/grid"><span data-i18n="Grid">Grid</span></a></li>
          <li><a href="#/docs/ui/typography"><span data-i18n="Typography">Typography</span></a></li>
          <li><a href="#/docs/ui/buttons"><span data-i18n="Buttons">Buttons</span></a></li>
          <li><a href="#/docs/ui/badges"><span data-i18n="Badges">Badges</span></a></li>
          <li><a href="#/docs/ui/callout"><span data-i18n="Callout">Callout</span></a></li>
          <li><a href="#/docs/ui/color"><span data-i18n="Color">Color</span></a></li>
          <li><a href="#/docs/ui/forms"><span data-i18n="Forms">Forms</span></a></li>
          <li><a href="#/docs/ui/hit-area-box"><span data-i18n="Hit area box">Hit area box</span></a></li>
          <li><a href="#/docs/ui/icons"><span data-i18n="Icons">Icons</span></a></li>
          <li><a href="#/docs/ui/media"><span data-i18n="Media">Media</span></a></li>
          <li><a href="#/docs/ui/panels"><span data-i18n="Panels">Panels</span></a></li>
          <li><a href="#/docs/ui/tables"><span data-i18n="Tables">Tables</span></a></li>
          <li><a href="#/docs/ui/tabs"><span data-i18n="Tabs">Tabs</span></a></li>
          <li><a href="#/docs/ui/helper-classes"><span data-i18n="Helper classes">Helper classes</span></a></li>
        </ul>
      </li>
<!--       <li>
        <a href="#/docs/components"><span data-i18n="Components">Components</span></a>
        <ul>
          <li><a href="#/docs/components/bar"><span data-i18n="Bar">Bar</span></a></li>
        </ul>
      </li> -->
      <li>
        <a href="#/docs/directives"><span data-i18n="Directives">Directives</span></a>
        <ul>
          <li><a href="#/docs/directives/accordion"><span data-i18n="Accordion">Accordion</span></a></li>
          <li><a href="#/docs/directives/back-to-top"><span data-i18n="Back to top">Back to top</span></a></li>
          <li><a href="#/docs/directives/datepicker"><span data-i18n="Datepicker">Datepicker</span></a></li>
          <li><a href="#/docs/directives/range-datepicker"><span data-i18n="Range datepicker">Range datepicker</span></a></li>
          <li><a href="#/docs/directives/id-card-number"><span data-i18n="ID card number">ID card number</span></a>

          <li><a href="#/docs/directives/indeterminate-checkbox"><span data-i18n="Indeterminate checkbox">Indeterminate checkbox</span></a></li>
          <li><a href="#/docs/directives/interactive-table"><span data-i18n="Interactive table">Interactive table</span></a></li>
          <li><a href="#/docs/directives/modal"><span data-i18n="Modal">Modal</span></a></li>
          <li><a href="#/docs/directives/national-number"><span data-i18n="National number">National number</span></a>
          <li><a href="#/docs/directives/navigation"><span data-i18n="Navigation">Navigation</span></a></li>
          <li><a href="#/docs/directives/popover"><span data-i18n="Popover">Popover</span></a></li>
          <li><a href="#/docs/directives/sort-table"><span data-i18n="Sort table">Sort table</span></a></li>
          <li><a href="#/docs/directives/stick-to-top"><span data-i18n="Stick to top">Stick to top</span></a></li>
          <li><a href="#/docs/directives/timepicker"><span data-i18n="Timepicker">Timepicker</span></a></li>
          <li><a href="#/docs/directives/upload"><span data-i18n="Upload">Upload</span></a></li>
        </ul>
      </li>
      <li>
        <a href="#/docs/themes"><span data-i18n="Themes">Themes</span></a>
        <ul>
          <li><a href="#/docs/themes/stad"><span data-i18n="Stad">Stad</span></a></li>
          <li><a href="#/docs/themes/politie"><span data-i18n="Politie">Politie</span></a></li>
          <li><a href="#/docs/themes/ocmw"><span data-i18n="Ocmw">Ocmw</span></a></li>
          <li><a href="#/docs/themes/tink"><span data-i18n="Tink">Tink</span></a>
        </ul>
      </li>
    </ul>
  </div>

  <div class="nav-aside-section">
    <p class="nav-aside-title">Guidelines</p>
    <ul>
      <li>
        <a href="#/docs/coding-standards"><span data-i18n="UX guidelines">UX guidelines</span></a>
        <ul>
          <li><a href="#/docs/ux-guidelines/form-validation"><span data-i18n="Form validation">Form validation</span></a></li>
          <li><a href="#/docs/ux-guidelines/forms-as-a-whole"><span data-i18n="Forms as a whole">Forms as a whole</span></a></li>
        </ul>
      </li>

      <li>
        <a href="#/docs/coding-standards"><span data-i18n="Code guidelines">Code guidelines</span></a>
        <ul>
          <li><a href="#/docs/coding-standards/general"><span data-i18n="General">General</span></a></li>
          <li><a href="#/docs/coding-standards/styling"><span data-i18n="Styling">Styling</span></a></li>
          <li><a href="#/docs/coding-standards/javascript"><span data-i18n="JavaScript">JavaScript</span></a></li>
          <li><a href="#/docs/coding-standards/angular"><span data-i18n="AngularJs">AngularJs</span></a></li>
          <li><a href="#/docs/coding-standards/contributing"><span data-i18n="Contributing">Contributing</span></a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="nav-aside-section">
    <ul>
      <li>
        <a href="#/changelog"><span data-i18n="Changelog">Changelog</span></a>
      </li>
    </ul>
  </div>
</aside>
