<div class="container">

  <section class="panel-docs">
    <h1>Getting started</h1>

    <h2>Core styling</h2>
    <p>To install the basic version of Tink (styling only), navigate to your project via the command line and run the following command:</p>
    <hljs data-format="bash" data-ng-if="theme.active === 'digipolis'">bower install tink-core --save</hljs>
    <hljs data-format="bash" data-ng-if="theme.active === 'ocmw'">bower install tink-theme-ocmw --save</hljs>
    <hljs data-format="bash" data-ng-if="theme.active === 'stad'">bower install tink-theme-stad --save</hljs>
    <hljs data-format="bash" data-ng-if="theme.active === 'brandweer'">bower install tink-theme-brandweer --save</hljs>
    <hljs data-format="bash" data-ng-if="theme.active === 'politie'">bower install tink-theme-politie --save</hljs>
    <p class="callout">Note that this command requires you to have <a href="http://bower.io" title="Bower" rel="external" target="_blank">Bower</a> installed.</p>
    <p>A complete overview of the styling elements can be found in the <a href="#/docs/ui">styling kit</a> section.</p>

    <h2>Components</h2>
    <p>For now all Tink components rely on AngularJS and are built as separate directives. Every component can be installed separately via Bower.</p>
    <p class="callout">Make sure to carefully read the instructions, because the installation process differs depending which component you're installing.</p>
    <p>A complete list of all the directives can be found in the <a href="#/docs/directives">directives</a> section.</p>

    <h2>Themes</h2>
    <p>If you prefer to use one of our themes instead of the default Tink styling, you can just replace the core with one of our themes.</p>
    <p>Check out the <a href="#/docs/themes">themes</a> section or use the theme switcher in the top right corner to see the themes in action.</p>

    <h2>Starter template</h2>
    <p>If you're looking for a basic skeleton to start with, paste the following code inside your <code>&lt;body&gt;&lt;/body&gt;</code>:</p>
    <hljs data-format="html">
      <nav data-tink-top-nav class="nav-top">
        <ul class="nav-top-branding">
          <li class="nav-top-logo">
            <a href="#/" title=""><span>Your project</span></a>
          </li>
          <li class="nav-top-toggle" data-tink-sidenav-collapse="sideNavLeft">
            <a href="" title="Open menu"><i class="fa fa-bars"><span class="sr-only">Open menu</span></i></a>
          </li>
          <li class="nav-top-app">
            <h1><a href="#/" title="">Your project</a></h1>
          </li>
        </ul>
      </nav>
      <aside data-tink-nav-aside data-tink-accordion="true" data-tink-toggle-id="sideNavLeft" class="nav-aside nav-left">
        <ul class="nav-aside-list" role="sidenav">
          <li>
            <a href="#/link1" title="">Link 1</a>
          </li>
          <li>
            <a href="#/link2" title="">Link 2 with subitems</a>
            <ul>
              <li><a href="#/link2/subitem1" title="">Subitem 1</a></li>
              <li><a href="#/link2/subitem2" title="">Subitem 2</a></li>
              <li><a href="#/link2/subitem3" title="">Subitem 3</a></li>
            </ul>
          </li>
        </ul>
      </aside>
      <div>
        <div class="main" role="main" data-ng-view="" data-autoscroll="true"></div>
      </div>
    </hljs>
    <div class="callout">
      <p>For the above example you'll need to have the following components installed:</p>
      <ul>
        <li><a href="#/docs/ui">Tink core</a> or one of the <a href="#/docs/themes">themes</a></li>
        <li><a href="#/docs/directives/navigation">Navigation component</a></li>
      </ul>
    </div>

  </section>
</div>
